const args = process.argv.slice(2);

{{ .Code }}

{{ range $index, $input := .Inputs }}
{{ if eq $input.Type "string" }}
{{ if $input.IsArray }}
//case of array string
let tmp_arr = args[{{ $index }}].slice(1 ,-1);
let {{ $input.Name }} = tmp_arr.split(',').map(elem => elem.trim());
{{ else }}
//case of string
let {{ $input.Name }} = args[{{ $index }}]
{{ end }}
{{ else }}
//rest of cases
const {{ $input.Name }} = JSON.parse(args[{{ $index }}])
{{ end }}
{{ end }}




{{ if eq .OutputType "string" }}
{{ if .OutputIsArray }}
//case of array string
let tmp_arr = args[{{ .OutputIndex }}].slice(1 ,-1);
let output = tmp_arr.split(',').map(elem => elem.trim());
{{ else }}
//case of string
let output = args[{{ .OutputIndex }}]
{{ end }}
{{ else }}
//rest of cases
const output = JSON.parse(args[{{ .OutputIndex }}])
{{ end }}




if (solution({{ range $index, $input := .Inputs }}{{ if ne $index 0 }}, {{ end }}{{ $input.Name }}{{ end }}) == output){
    process.exit(0)
}
else{
    process.exit(1)
}