import sys
import json

{{ .Code }}

if __name__ == "__main__":
    args = sys.argv[1:]
    {{ range $index, $input := .Inputs }}
    {{if $input.IsArray }}
    {{ $input.Name }} = json.loads(args[{{ $index }}])
    {{ else }}
    {{ $input.Name }} = {{$input.Type}}(args[{{ $index }}])
    {{ end }}
    {{ end }}
    {{if .OutputIsArray }}
    output = json.loads(args[{{ .OutputIndex }}])
    {{ else }}
    output = {{ .OutputType }}(args[{{ .OutputIndex }}])
    {{ end }}

    if solution({{ range $index, $input := .Inputs }}{{ if ne $index 0 }}, {{ end }}{{ $input.Name }}{{ end }}) == output:
        exit(0)
    else:
        exit(1)